# Ignore everything
/*

# Except these files & folders
!/apps
!/libs
!/.github
!tsconfig.base.json
!nx.json
!package.json
!.prettierrc
!.eslintrc.js
!README.md

# Ignore files prettier can't parse
*.svg
